<h3>Heros</h3>
<div class="row" >
    <div class="col-sm-12">
    <label class="control-label col-sm-1">Name:</label>
    <div class="col-sm-3">
        <input #heroName  class="form-control"/>
    </div>
    <button (click)="add(heroName.value); heroName.value=''" class="btn btn-success btn-round">Add</button>
</div>
</div>

<div class="row heroes">
  <div class="col-sm-12">
<div class="box box-warning">
  <div class="box-title">
    <h4>Top Heroes</h4>
  </div>
  <div class="box-body">
      <div class="col-lg-3 col-xs-6" *ngFor="let hero of topHeroes">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{hero.name}}</h3>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a class="small-box-footer" (click)="onSelect(hero)">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
  </div>
</div>

  </div>
</div>

<div class="row heros" >
  <div class="col-sm-8">
    <div class="box box-info">
        <div class="box-title">
            <h4>Hero List</h4> 
           </div>
      <div class="box-body table-responsive no-padding">
          <table class="table table-borderd table-hover">
              <thead>
                <tr>
                    <th>
                        Id
                      </th>
                      <th>
                        姓名
                      </th>
                      <th>
                        操作
                      </th>
                </tr>
                
              </thead>
              <tbody>
                <tr *ngFor="let hero of herolist" (click)="onSelect(hero)">
                  <td><span class="label label-success">{{hero.id}}</span></td>
                  <td><span>{{hero.name}}</span></td>
                  <td style="width:100px"> 
                    <button class="btn btn-sm btn-round btn-danger" (click)="delete(hero); $event.stopPropagation()">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box box-success">
      <div class="box-title">
       <h4>Hero Details</h4> 
      </div>
        <div class="box-body ">
            <div *ngIf="selectedHero">
                <h2>
                  {{selectedHero.name | uppercase}} is my hero
                </h2>
                <button (click)="gotoDetail()">View Details</button>
              </div>    
        </div>
    </div>
  </div>
</div>