<p>
	home works!
</p>
<div class="row">
<div class="col-sm-12">
	<div class="col-sm-1">
		<a class="btn btn-success btn-round" (click)="callApi()">Call Api</a>

	</div>
	<div class="col-sm-2">
		<input type="text" class="form-control" [(ngModel)]="name" #eml="ngModel">
	</div>
	<div class="col-sm-2">
		<input type="text" class="form-control" [(ngModel)]="age" #eml="ngModel">
	</div>
</div>
</div>


